/* FONT ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
html {
    font-family: 'Roboto', sans-serif;
}
body {
    /*display: table;*/
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
/*///////////////////////////////////////////////////////////////////////////////////////*/
.footer{
    min-height: 100px;
    width: 100%;
    background-color: black;
}

.footer p{
    color: white;
}

.footerFloat {

    padding: 30px;
    width: 100%;
}
@media all and (min-width: 1020px) {
    .footer {

        width: 1010px;
        margin: auto;
    }
    .footerFloat {
        width: 33%;
        float: left;
    }
}

.footer-wrapper{
    width: 100%;
    background-color: black;
    display: table-row;
    left: 0px;
    bottom: 0px;
}
.logo {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}
a.contact-title p{
    color: #FFC000;
    font-size: 14px;
    font-weight: 400;
}
.footerFloat a:hover p{
    color: #ffe990;
}

.footerFloat p{
    font-size: 12px;
    margin: 0px;
}
.terms-social a:hover i{
    color: #ffe990;
}
.social1{
    color: #0000e0;
    padding-right: 20px;
    padding-bottom: 10px;
}
.social2{
    color: dodgerblue;
    padding-right: 20px;
    padding-bottom: 10px;
}
.social3{
    color: darkorange;
}
.contact-title{
    font-weight: bold;
}
.terms-social{
    text-align: right;
}
/*///////////////////////////////////////////////////////////////////////////////////////*/
.navbar{
    position: relative;
    width: 100%;
    height: 110px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
}

.navbar-right{
    position: absolute;
    right: 20px;
    /*top: 50%;*/
}

.navbar-right a{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 110px;
    background: linear-gradient(230deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block
}
.navbar-right  a.active-button:hover{
    background: linear-gradient(230deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-text-fill-color: #555555;
}
.navbar-right a:hover{
    background: #555555;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.logo{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #676767;
    left: 35px;
    text-decoration:none;
    padding: 15px;
}
a.logo:hover{
    color: #fdcf00;
}

@media all and (max-width: 750px) {
    .navbar{
        height: 130px;
    }
    a.logo{
        margin-left:auto;
        margin-right:auto;
        position: relative;
        left: 0px;
    }
    .navbar-right{
        margin-left:auto;
        margin-right:auto;
        position: relative;
        right: 0px;
    }
    .navbar-right a{
        padding: 6px;
        font-size: 13px;
        line-height: 50px;
    }
}
a.active-button{
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #555555;
}
/*////////////////////// SMALL NAVBAR //////////////////////////////////*/
.small-navbar{
    position: relative;
    width: 100%;
    height:40px;
    left: 0px;
    top: 0px;
    background: #000000;
    box-shadow: 0px 12px 35px -2px rgba(160, 121, 0, 0.2);
    padding-left: 40px;
}
/*a:hover, a:active, , a:focus */
/*a, a:visited {*/
/*    text-decoration:none;*/
/*}*/
.small-navbar-text{
    padding: 8px 12px;
    color: white;
    display: inline-block;
}
.small-navbar-text:visited{
    color: white;
}
.small-navbar-text-link{
    padding: 8px 12px;
    color: #FF8A00;
    display: inline-block;
}
.small-navbar-text-link:visited{
    color: #FF8A00;
}
i.fa-angle-double-right{
    color: white;
}
/*////////////////////// COMMENTS //////////////////////////////////*/
.comments{
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
}
.comment-pic{
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}
.comments-container{
    background: linear-gradient(220.46deg, rgba(255, 184, 0, 0.2) 1.55%, rgba(255, 138, 0, 0.2) 95.8%);
}
.comment-quote{
    font-style: italic;
    margin-bottom: 8px;
    font-size: 16px;
}
.comments-title{
    font-size: 16px;
    font-weight: bold;
}
/*////////////////// HEADER //////////////////////////////////////*/
.header-container{
    min-height: 651px;
    background: linear-gradient(235.82deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: white;
}
.header{
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    font-style: normal;
    font-weight: lighter;
    line-height: 220%;
}
.header-pic{
    width: 100%;
}
.header-title{
    margin-top: 7rem;
    line-height: 160%;
}
.header-description{
    line-height: 120%;
    font-weight: bold;
}
/*//////////////////// CONTACT US ////////////////////////////////////*/
.contacts-container{
    background: linear-gradient(110deg, rgba(255, 184, 0, 0.2) 1.55%, rgba(255, 138, 0, 0.2) 95.8%);
    min-height: 800px;
}
.contacts {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.contact-left{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}
.contact-left p{
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 180%;
}
.contact-right{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.contact-left h1{
    background: linear-gradient(230deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-right h1{
    background: linear-gradient(230deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.round{
    border-radius: 50px;
    border: none;
    min-height: 50px;
    padding: 35px;
}
.button-bg{
    background: linear-gradient(235.82deg, #FFC000 1.55%, #FF8A00 95.8%);
    border: none;
}
.button-center{
    text-align:center;
    margin-top: 30px;
}
.bubble{
    background-color: white;
    width: 80%;
}
/*///////////////////// DROPDOWN ///////////////////////////////////*/
.dropdown{
    position: relative;
    float: right;
    top: 0px;
    border-radius: 0px 0px 0px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 180px;
}
.dropdown div.active-button{
     background: linear-gradient(230deg, #FFC000 1.55%, #FF8A00 95.8%);
 }
.dropdown div.active-button a{
    color: white;
}
.d-item{
    padding: 15px;
}
.dropdown a, a:hover{
    text-decoration: none;
    color:  #5C5C5C;
}
/*///////////////////// ABOUT ///////////////////////////////////*/
.about-container{
    margin-top: 40px;
    min-height: 900px;
}
.about-right{
margin-top: 100px;
    padding: 30px;
}
.about-left{
    margin-top: 60px;
    float: right;
}
.about-left h1{
    background: linear-gradient(230deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
.about-row1{
    height: 200px;
    padding: 10px;
}
.about-row2{
    height: 300px;
    padding: 10px;
}
.about-float-right{
    float: right;
}

.about-left .col-lg-5{
    padding: 0;
}
.about-left .col-lg-7{
    padding: 0;
}
/*//////////////////// VOLUNTEERS ////////////////////////////////////*/
.volunteers-container{
    min-height: 1100px;
    background: linear-gradient(235.82deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: #5C5C5C;
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
}
.volunteers-line{
    min-height: 40px;
    background: linear-gradient(235.82deg, #FFC000 1.55%, #FF8A00 95.8%);
}
.volunteers-text-area{
    position: relative;
    width: 100%;
    background-color: white;
}

.volunteers-text-area2{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
}

.volunteers-text-area2 h5 {
    float: right;
}
.volunteers-text-area2 p {
    margin: 0;
    font-size: 13px;
}
.volunteers{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0; right: 0;
    width: 80%;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.card{
    text-align: center;
    display: block;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
}
.card-img-top{
    padding: 15px;
}
div.card-body{
    padding-top: 10px;
    font-weight: bold;
}

.vol-row{
    margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
    .volunteers {
        margin-top: 10px;
    }
    .volunteers-text-area{
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .volunteers-text-area2 h5 {
        float: none;
    }
    .volunteers-text-area2{
        width: 90%;
    }
    .vol-row {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .volunteers {
        margin-top: 20px;
    }
}


/*///////////////////////// ACTIVITIES ///////////////////////////////*/
.activities-container{
    min-height: 1000px;
    background: linear-gradient(235.82deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: #5C5C5C;
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
}
.activities{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.activity{
    min-height: 100px;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin-bottom: 20px;
}
.img-col{
    padding: 20px;
}
.activity-img{
    width: 100%;
    border-radius: 40px;
    /*margin: 15px;*/
}
.activity .col-lg-4{
    padding: 0;
}

@media screen and (max-width: 800px) {
    .activities{
        width: 80%;
    }
}
/*////////////////////// EVENTS //////////////////////////////////*/
/*body{*/
/*    background:#ccc;*/
/*}*/
.months-container{
    min-height: 1000px;
    /*width: 800px;*/
    width: 100%;
    /*display:block;*/
    /*margin:0 auto;*/
    /*position: relative;*/
}
.action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
}
.action a {
    display:inline-block;
    padding:5px 10px;
    background:#f30;
    color:#FF8A00;
    text-decoration:none;
}
.action a:hover{
    background:#4488BB;
}
/*ooooooooooooooooooooooooooooo*/
.slick-prev:before {
    content: "<";
    color: red;
    font-size: 30px;
}

.slick-next:before {
    content: ">";
    color: red;
    font-size: 30px;
}

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red; !important;
}
.month-text-col{
    padding: 0;
}
.slider-container {
    /*flex-direction: column;*/
    /*width: 900px;*/
    /*max-width: 1100px;*/
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}
@media screen and (min-width: 1300px) {
    .slider-container{
        padding-right: 100px;
    }
}
@media screen and (max-width: 800px) {
    .slider-container{
        /*width: 700px;*/
    }
}
.month-row{
    width: 100%;
    margin: 0;
}

.slider{
    width: 90%;
    float: left;
}
.arrow-slider{
    width: 5%;
    float: left;
    height: 100%;
}

.events-text-area{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
    margin-top:40px;
    margin-bottom: 20px;
}
.events-text-area h5{
    float: right;
}
.events-text-area p{
    font-size: 13px;
}
.slick-slider {
    margin-bottom: 15px;
}
.event-card-title{
    background: black;
    font-size: 14px;
}
.event-card-body{
    background: linear-gradient(243.84deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-size: 12px;
    text-align: left;
    color: black;
}
.card{
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    max-width: 18rem;
}
.new-line{
    border: 1px solid #4e4e4e;
    width: 85%;
}
.event-card-body-special{
    background: linear-gradient(243.84deg, #FFF38A 1.55%, #FFB800 95.8%);
    font-size: 12px;
    text-align: left;
    color: black;
}
.fa-chevron-left{
    margin: 15px;
}
.fa-chevron-right{
    margin: 15px;
}

/*////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/